body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

button{
    display: block;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    
}


.header{
    display: flex;
    padding: 20px 0px 20px 0px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2937;
    
}
.prelim{
    display: flex;
    padding: 30px;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-evenly;
}
.prelim .text{
    color: white;
    padding: 30px;
}
.prelim .main-image{
    width: 600px;
    height: auto;
}
.logo{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    /* margin-right: auto; */
    font-weight: bold;
    font-size: 36px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .title{
    color: black;
    text-align: center;
}
.content .card-holder{
    display: flex;
    justify-content: center;
    
    gap: 50px;
}
.card-image{
    width: 250px;
    height: 300px;
    border: 5px solid blue;
    border-radius: 25px;
}

